* {
    background-color: rgb(219, 219, 219);
    color: rgb(87, 51, 69);
}
h1 {
    color: rgba(219,219,219);
    background-color: rgb(87, 51, 69);
}
h2 {
    color: rgba(219,219,219);
    background-color: rgb(87, 51, 69);
}

