p {
    background-color: sienna;
}
@media (max-width: 768px) {
    p {
        background-color: royalblue;
    }
}
@media (max-width: 576px) {
    p{
        background-color: red;
    }
}
